<div class="tasks view">
    <div class="task-wrapper">
        <header>
            <ul class="list-inline resource-info-title">
                <li class="list-inline-item">
                    <h3><a routerLink="{{previousUrl}}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a> </h3>
                </li>
                <li class="list-inline-item">
                    <h3>Tasks Information ( {{title}} )</h3>
                </li>
            </ul>
        </header>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="message != null">{{ message }}</div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="summary" routerLinkActive="active">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="1" routerLinkActive="active">Task1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="2" routerLinkActive="active">Task2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="3" routerLinkActive="active">Task3</a>
                    </li>
                </ul>

                <div class="content-form mt-5 task-table">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!--<div class="container">
                <div class="mt-5">
                    <a routerLink='/dashboard/resources'>View all Resources</a>
                </div>
            </div>-->
        </div>
    </div>