<div>
    <table class="table  table-condensed table-bordered table-responsive">
        <thead>
            <th>
                Task
            </th>
            <th>
                Phases
            </th>
            <th>
                Planned Start
            </th>
            <th>
                Planned End
            </th>
            <th>
                Actual Start
            </th>
            <th>
                Actual End
            </th>
            <th>
                BAC (hrs)
            </th>
            <th>
                ATD (hrs)
            </th>
            <th>
                PV (hrs)
            </th>
            <th>
                EV (hrs)
            </th>
            <th>
                AC (hrs)
            </th>
            <th>
                ETC (hrs)
            </th>
            <th>
                EAC (hrs)
            </th>
            <th>
                Task (hrs)
            </th>
            <th>
                Review (hrs)
            </th>
            <th>
                Rework (hrs)
            </th>
            <th>
                SPE (hrs)
            </th>
        </thead>
        <tbody>
            <tr class="task-sums">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{factory.sums.totals_BAC}}</td>
                <td>{{factory.sums.totals_atd}}</td>
                <td>{{factory.sums.totals_PV}}</td>
                <td>{{factory.sums.totals_EV}}</td>
                <td>{{factory.sums.totals_AC}}</td>
                <td>{{factory.sums.totals_ETC}}</td>
                <td>{{factory.sums.totals_EAC}}</td>
                <td>{{factory.sums.totals_task_planned}}</td>
                <td>{{factory.sums.totals_review_planned}}</td>
                <td>{{factory.sums.totals_rework_planned}}</td>
                <td>{{factory.sums.totals_SPE}}</td>
            </tr>
            <tr *ngFor=" let t of factory.task_info;let i=index ">
                <td data-title="Task">{{t["task_des"]}}</td>
                <td data-title="Task"> {{t["phase"]}}</td>
                <td data-title="Task">{{t["planned_start_date"].formatted}}</td>
                <td data-title="Task"> {{t["planned_end_date"].formatted}}</td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["actual_start_date"].formatted}}</span>
                    <datepicker class="taskTableInput" *ngIf="factory.task_edit[i].showinput" name="{{'actual_start_'+i}}" [ngModel]="factory.task_edit[i].actual_start_date.formatted" (ngModelChange)="factory.task_edit[i].actual_start_date = $event" showicon="false"></datepicker>
                </td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["actual_end_date"].formatted}}</span>
                    <datepicker class="taskTableInput" *ngIf="factory.task_edit[i].showinput" name="{{'actual_end_'+i}}" [ngModel]="factory.task_edit[i].actual_end_date.formatted" (ngModelChange)="factory.task_edit[i].actual_end_date = $event" showicon="false"></datepicker>
                </td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["BAC"]}}</span> <input class="taskTableInput form-control" type="number" [(ngModel)]="factory.task_edit[i].BAC" *ngIf="factory.task_edit[i].showinput" /></td>
                <td> <span *ngIf="!factory.task_edit[i].showinput">{{t["ATD"]}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["ATD"]}}</span></td>
                <td>{{t["PV"]}}</td>
                <td>{{t["EV"]}}</td>
                <td>{{t["AC"]}}</td>
                <td>{{t["ETC"]}}</td>
                <td>{{t["EAC"]}}</td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["task_planned"]}}</span> <input class="taskTableInput form-control" (change)="factory.task_edit[i]['SPE']=factory.valueSPE(factory.task_edit[i]);factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])"
                        type="number" [(ngModel)]="factory.task_edit[i].task_planned" *ngIf="factory.task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["review_planned"]}}</span> <input class="taskTableInput form-control" (change)="factory.task_edit[i]['SPE']=factory.valueSPE(factory.task_edit[i]);factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])"
                        type="number" [(ngModel)]="factory.task_edit[i].review_planned" *ngIf="factory.task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["rework_planned"]}}</span> <input class="taskTableInput form-control" (change)="factory.task_edit[i]['SPE']=factory.valueSPE(factory.task_edit[i]);factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])"
                        type="number" [(ngModel)]="factory.task_edit[i].rework_planned" *ngIf="factory.task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["SPE"]}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["SPE"]}}</span>
                </td>
                <td data-title="Task">
                    <ul class="list-inline" *ngIf="!factory.task_edit[i].showinput">
                        <li class=" list-inline-item ">
                            <i class="fa fa-pencil " aria-hidden="true " (click)="factory.editTask(i) "></i>
                        </li>
                        <li class="list-inline-item ">
                            <i class="fa fa-trash " aria-hidden="true " (click)="factory.delTask(i) "></i>
                        </li>
                    </ul>
                    <ul class="list-inline " *ngIf="factory.task_edit[i].showinput">
                        <li class="list-inline-item ">
                            <i class="fa fa-check " aria-hidden="true " (click)="factory.onSubmit(i) "></i>
                        </li>
                        <li class="list-inline-item ">
                            <i class="fa fa-times   " aria-hidden="true " (click)="factory.closeEditTask(i) "></i>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>