<div>
    <table class="table  table-condensed table-bordered table-responsive">
        <thead>
            <th>
                Task
            </th>
            <th>
                Phases
            </th>
            <th>
                Planned Start
            </th>
            <th>
                Planned End
            </th>
            <th>
                Actual Start
            </th>
            <th>
                Actual End
            </th>
            <th>
                BAC
            </th>
            <th>
                SPE
            </th>
            <th>
                PME
            </th>
            <th>
                Conf Mgmt
            </th>
            <th>
                QA
            </th>
            <th>
                Defect Prevention
            </th>
            <th>
                Training
            </th>
        </thead>
        <tbody>
            <tr *ngFor=" let t of task_info;let i=index ">
                <td data-title="Task">{{t["task_des"]}}</td>
                <td data-title="Task"> {{t["phase"]}}</td>
                <td data-title="Task"> {{t["planned_start_date"].formatted}}</td>
                <td data-title="Task"> {{t["planned_end_date"].formatted}}</td>
                <td data-title="Task"> {{t["actual_start"].formatted}}</td>
                <td data-title="Task"> {{t["actual_end"].formatted}}</td>
                <td data-title="Task"> {{t["BAC"]}}</td>
                <td data-title="Task"> <span *ngIf="!task_edit[i].showinput">{{t["SPE"]}}</span> <input class="taskTableInput" type="text" [(ngModel)]="task_edit[i].SPE" *ngIf="task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!task_edit[i].showinput">{{t["PME"]}}</span> <input class="taskTableInput" type="text" [(ngModel)]="task_edit[i].PME" *ngIf="task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!task_edit[i].showinput">{{t["conf_management"]}}</span> <input class="taskTableInput" type="text" [(ngModel)]="task_edit[i].conf_management" *ngIf="task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!task_edit[i].showinput">{{t["QA"]}}</span> <input class="taskTableInput" type="text" [(ngModel)]="task_edit[i].QA" *ngIf="task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!task_edit[i].showinput">{{t["defect_prevention"]}}</span> <input class="taskTableInput" type="text" [(ngModel)]="task_edit[i].defect_prevention" *ngIf="task_edit[i].showinput" /></td>
                <td data-title="Task"> <span *ngIf="!task_edit[i].showinput">{{t["training"]}}</span> <input class="taskTableInput" type="text" [(ngModel)]="task_edit[i].training" *ngIf="task_edit[i].showinput" /></td>
                <td data-title="Task">
                    <ul class="list-inline" *ngIf="!task_edit[i].showinput">
                        <li class=" list-inline-item ">
                            <i class="fa fa-pencil " aria-hidden="true " (click)="editTask(i) "></i>
                        </li>
                        <li class="list-inline-item ">
                            <i class="fa fa-trash " aria-hidden="true " (click)="toggleTask(i) "></i>
                        </li>
                    </ul>
                    <ul class="list-inline " *ngIf="task_edit[i].showinput">
                        <li class="list-inline-item ">
                            <i class="fa fa-check " aria-hidden="true " (click)="onSubmit(i) "></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-times" aria-hidden="true " (click)="closeEditTask(i) "></i>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


    <!--<div class="modal fade" id="taskEditDets" tabindex="-1" role="dialog" aria-labelledby="taskEditDets">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Task Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal clearfix" #taskForm="ngForm" id="taskForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="phase">Phase</label>
                                    <div class="col-md-7">
                                        <input id="phase" name="phase" type="text" [(ngModel)]="task_edit.phase" placeholder="Phase" class="form-control input-md">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="tgroup">Task Name</label>
                                    <div class="col-md-7">
                                        <input id="tgroup" name="tgroup" type="text" [(ngModel)]="task_edit.task_des" placeholder="Team Group" class="form-control input-md">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="tname">Planned Start Date</label>
                                    <div class="col-md-7">
                                        <my-date-picker name="planstartdate" [options]="service.myDatePickerOptions" [(ngModel)]="task_edit.planned_start_date" required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="tname">Planned End Date</label>
                                    <div class="col-md-7">
                                        <my-date-picker name="planenddate" [options]="service.myDatePickerOptions" [(ngModel)]="task_edit.planned_end_date" required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="spe">SPE</label>
                                    <div class="col-md-7">
                                        <input id="spe" name="spe" type="number" step="0.01" [(ngModel)]="task_edit.SPE" placeholder="SPE" class="form-control input-md">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="conf-mgmt">Configuration Management</label>
                                    <div class="col-md-7">
                                        <input id="conf-mgmt" name="conf-mgmt" type="number" step="0.01" [(ngModel)]="task_edit.conf_management" placeholder="Configuration Management" class="form-control input-md">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="training">Training</label>
                                    <div class="col-md-7">
                                        <input id="training" name="training" type="number" step="0.01" [(ngModel)]="task_edit.training" placeholder="Training" class="form-control input-md">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="tname">Actual Start Date</label>
                                    <div class="col-md-7">
                                        <my-date-picker name="actual_start" [options]="service.myDatePickerOptions" [(ngModel)]="task_edit.actual_start" required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="tname">Actual End Date</label>
                                    <div class="col-md-7">
                                        <my-date-picker name="actual_end" [options]="service.myDatePickerOptions" [(ngModel)]="task_edit.actual_end" required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="bac">BAC</label>
                                    <div class="col-md-7">
                                        <input id="bac" name="bac" type="number" step="0.01" [(ngModel)]="task_edit.BAC" placeholder="BAC" class="form-control input-md">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="pme">PME</label>
                                    <div class="col-md-7">
                                        <input id="pme" name="pme" type="number" step="0.01" [(ngModel)]="task_edit.PME" placeholder="PME" class="form-control input-md">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="qa">QA</label>
                                    <div class="col-md-7">
                                        <input id="qa" name="qa" type="number" step="0.01" [(ngModel)]="task_edit.QA" placeholder="QA" class="form-control input-md">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="defect-prevention">Defect Prevention</label>
                                    <div class="col-md-7">
                                        <input id="defect-prevention" name="defect-prevention" type="number" step="0.01" [(ngModel)]="task_edit.defect_prevention" placeholder="Defect Prevention" class="form-control input-md">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
</div>