<div>
    <table class="table  table-condensed table-bordered table-responsive">
        <thead>
            <th>
                Task
            </th>
            <th>
                Phases
            </th>
            <th>
                Planned Start
            </th>
            <th>
                Planned End
            </th>
            <th>
                Actual Start
            </th>
            <th>
                Actual End
            </th>
            <th>
                BAC (hrs)
            </th>
            <th>
                ATD (hrs)
            </th>
            <th>
                SPE (hrs)
            </th>
            <th>
                PME (hrs)
            </th>
            <th>
                Conf Mgmt (hrs)
            </th>
            <th>
                QA (hrs)
            </th>
            <th>
                Defect Prevention
            </th>
            <th>
                Training
            </th>
        </thead>
        <tbody>
            <tr class="total-sums">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{factory.sums.totals_BAC}}</td>
                <td>{{factory.sums.totals_atd}}</td>
                <td>{{factory.sums.totals_SPE}}</td>
                <td>{{factory.sums.totals_PME}}</td>
                <td>{{factory.sums.totals_conf_management}}</td>
                <td>{{factory.sums.totals_QA}}</td>
                <td>{{factory.sums.totals_defect_prevention}}</td>
                <td>{{factory.sums.totals_training}}</td>
            </tr>
            <tr *ngFor=" let t of factory.task_info;let i=index ">
                <td data-title="Task">{{t["task_des"]}}</td>
                <td data-title="Task"> {{t["phase"]}}</td>
                <td data-title="Task"> {{t["planned_start_date"].formatted}}</td>
                <td data-title="Task"> {{t["planned_end_date"].formatted}}</td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["actual_start_date"].formatted}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["actual_start_date"].formatted}}</span>
                </td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["actual_end_date"].formatted}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["actual_end_date"].formatted}}</span>
                </td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["BAC"]}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["BAC"]}}</span>
                </td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["ATD"]}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["ATD"]}}</span>
                </td>
                <td data-title="Task"> <span *ngIf="!factory.task_edit[i].showinput">{{t["SPE"]}}</span> <span *ngIf="factory.task_edit[i].showinput">{{factory.task_edit[i]["SPE"]}}</span>
                </td>
                <td data-title="Task "> <span *ngIf="!factory.task_edit[i].showinput ">{{t["PME"]}}</span> <input class="taskTableInput form-control "
                        type="number" [(ngModel)]="factory.task_edit[i].PME " *ngIf="factory.task_edit[i].showinput " (change)="factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])"
                    /></td>
                <td data-title="Task "> <span *ngIf="!factory.task_edit[i].showinput ">{{t["conf_management"]}}</span> <input class="taskTableInput form-control "
                        type="number" [(ngModel)]="factory.task_edit[i].conf_management " *ngIf="factory.task_edit[i].showinput "
                        (change)="factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])" /></td>
                <td data-title="Task "> <span *ngIf="!factory.task_edit[i].showinput ">{{t["QA"]}}</span> <input class="taskTableInput form-control "
                        type="number" [(ngModel)]="factory.task_edit[i].QA " *ngIf="factory.task_edit[i].showinput " (change)="factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])"
                    /></td>
                <td data-title="Task "> <span *ngIf="!factory.task_edit[i].showinput">{{t["defect_prevention"]}}</span> <input class="taskTableInput form-control "
                        type="number" [(ngModel)]="factory.task_edit[i].defect_prevention " *ngIf="factory.task_edit[i].showinput "
                        (change)="factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])" /></td>
                <td data-title="Task "> <span *ngIf="!factory.task_edit[i].showinput ">{{t["training"]}}</span> <input class="taskTableInput form-control "
                        type="number" [(ngModel)]="factory.task_edit[i].training " *ngIf="factory.task_edit[i].showinput " (change)="factory.task_edit[i]['ATD']=factory.valueATD(factory.task_edit[i])"
                    /></td>
                <td data-title="Task ">
                    <ul class="list-inline " *ngIf="!factory.task_edit[i].showinput ">
                        <li class=" list-inline-item ">
                            <i class="fa fa-pencil " aria-hidden="true " (click)="factory.editTask(i) "></i>
                        </li>
                        <li class="list-inline-item ">
                            <i class="fa fa-trash " aria-hidden="true " (click)="toggleTask(i) "></i>
                        </li>
                    </ul>
                    <ul class="list-inline " *ngIf="factory.task_edit[i].showinput ">
                        <li class="list-inline-item ">
                            <i class="fa fa-check " aria-hidden="true " (click)="factory.onSubmit(i) "></i>
                        </li>
                        <li class="list-inline-item ">
                            <i class="fa fa-times " aria-hidden="true " (click)="factory.closeEditTask(i) "></i>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


    <!--<div class="modal fade " id="taskEditDets " tabindex="-1 " role="dialog " aria-labelledby="taskEditDets ">
        <div class="modal-dialog modal-lg " role="document ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h5 class="modal-title ">Task Details</h5>
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
                </div>
                <div class="modal-body ">
                    <form class="form-horizontal clearfix " #taskForm="ngForm " id="taskForm " (ngSubmit)="onSubmit() ">
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="phase ">Phase</label>
                                    <div class="col-md-7 ">
                                        <input id="phase " name="phase " type="text " [(ngModel)]="factory.task_edit.phase " placeholder="Phase " class="form-control input-md ">

                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="tgroup ">Task Name</label>
                                    <div class="col-md-7 ">
                                        <input id="tgroup " name="tgroup " type="text " [(ngModel)]="factory.task_edit.task_des " placeholder="Team Group " class="form-control input-md ">
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="tname ">Planned Start Date</label>
                                    <div class="col-md-7 ">
                                        <my-date-picker name="planstartdate " [options]="service.myDatePickerOptions " [(ngModel)]="factory.task_edit.planned_start_date " required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="tname ">Planned End Date</label>
                                    <div class="col-md-7 ">
                                        <my-date-picker name="planenddate " [options]="service.myDatePickerOptions " [(ngModel)]="factory.task_edit.planned_end_date " required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="spe ">SPE</label>
                                    <div class="col-md-7 ">
                                        <input id="spe " name="spe " type="number " step="0.01 " [(ngModel)]="factory.task_edit.SPE " placeholder="SPE " class="form-control input-md ">

                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="conf-mgmt ">Configuration Management</label>
                                    <div class="col-md-7 ">
                                        <input id="conf-mgmt " name="conf-mgmt " type="number " step="0.01 " [(ngModel)]="factory.task_edit.conf_management " placeholder="Configuration Management " class="form-control input-md ">

                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="training ">Training</label>
                                    <div class="col-md-7 ">
                                        <input id="training " name="training " type="number " step="0.01 " [(ngModel)]="factory.task_edit.training " placeholder="Training " class="form-control input-md ">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="tname ">Actual Start Date</label>
                                    <div class="col-md-7 ">
                                        <my-date-picker name="actual_start " [options]="service.myDatePickerOptions " [(ngModel)]="factory.task_edit.actual_start " required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="tname ">Actual End Date</label>
                                    <div class="col-md-7 ">
                                        <my-date-picker name="actual_end " [options]="service.myDatePickerOptions " [(ngModel)]="factory.task_edit.actual_end " required></my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="bac ">BAC</label>
                                    <div class="col-md-7 ">
                                        <input id="bac " name="bac " type="number " step="0.01 " [(ngModel)]="factory.task_edit.BAC " placeholder="BAC " class="form-control input-md ">

                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="pme ">PME</label>
                                    <div class="col-md-7 ">
                                        <input id="pme " name="pme " type="number " step="0.01 " [(ngModel)]="factory.task_edit.PME " placeholder="PME " class="form-control input-md ">

                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="qa ">QA</label>
                                    <div class="col-md-7 ">
                                        <input id="qa " name="qa " type="number " step="0.01 " [(ngModel)]="factory.task_edit.QA " placeholder="QA " class="form-control input-md ">

                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-md-4 col-form-label " for="defect-prevention ">Defect Prevention</label>
                                    <div class="col-md-7 ">
                                        <input id="defect-prevention " name="defect-prevention " type="number " step="0.01 " [(ngModel)]="factory.task_edit.defect_prevention " placeholder="Defect Prevention " class="form-control input-md ">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer ">
                            <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
                            <button type="submit " class="btn btn-primary ">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
</div>