<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" routerLink="/dashboard">

        <img src="images/people.png" alt="logo">
        <span class="app-title">Project Tracking System</span>

    </a>
    <div class="collapse navbar-collapse ml-5" id="navbarDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/new" routerLinkActive="active">New Release</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="">Knowledge Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>