<div class="row" id="dashboard">
    <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let rel of release_info;let i=index;">      
        <div class="card card-green">
            <div class="card-header ">
                <div class="row">
                    <div class="col-8">
                        <h3 style="border-bottom: none;">{{rel.relName}}</h3>
                    </div>
                    <div class="col-4">
                        <div class="float-right float-sm-right">
                            <p>CPI</p>
                            <p>SPI</p>
                            <p class="clearfix"> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">

                <a class="float-left float-sm-left" routerLink="/tasks/{{rel._id}}/summary">View Details</a>
                <a class="float-right float-sm-right"><i class="fa fa-arrow-circle-right"></i></a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>