<div class="row" id="dashboard">
    <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let rel of release_info;let i=index;">
        <div class="card card-primary">
            <div class="card-header ">
                <a routerLink="/tasks/{{rel._id}}/1">
                    <h3 style="border-bottom: none;color:#fff">{{rel.relName}}</h3>
                </a>
            </div>
            <div class="card-block">
            </div>
        </div>
    </div>
    <!--<div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-green">
            <div class="card-header ">
                <div class="row">
                    <div class="col-3">
                        <h2 style="border-bottom: none;">SI</h2>
                    </div>
                    <div class="col-9">
                        <div class="float-right float-sm-right">
                            <h2 class="float-right float-sm-right">40</h2>
                            <p class="clearfix"> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">

                <a class="float-left float-sm-left" routerLink="resources">View Details</a>
                <a class="float-right float-sm-right"><i class="fa fa-arrow-circle-right"></i></a>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-yellow">
            <div class="card-header ">
                <div class="row">
                    <div class="col-3">
                        <h2 style="border-bottom: none;">Teams</h2>
                    </div>
                    <div class="col-9">
                        <div class="float-right float-sm-right">
                            <h2 class="float-right float-sm-right">3</h2>
                            <p class="clearfix"> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">

                <a class="float-left float-sm-left" routerLink="resources">View Details</a>
                <a class="float-right float-sm-right"><i class="fa fa-arrow-circle-right"></i></a>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-red">
            <div class="card-header ">
                <div class="row">
                    <div class="col-3">
                        <h2 style="border-bottom: none;">Scrums</h2>
                    </div>
                    <div class="col-9">
                        <div class="float-right float-sm-right">
                            <h2 class="float-right float-sm-right">4</h2>
                            <p class="clearfix"> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">

                <a class="float-left float-sm-left" routerLink="scrums">View Details</a>
                <a class="float-right float-sm-right"><i class="fa fa-arrow-circle-right"></i></a>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

    <div class="mt-3">
        <router-outlet></router-outlet>
    </div>

    <div class="col-md-6 mt-3">
        <div id="chart1"></div>
    </div>

    <div class="col-md-6 mt-3">
        <div id="chart2"></div>
    </div>-->